{extends file='D:\php_program\menu.html'}
{block name=title}列表{/block}
{block name=css}
       <style type="text/css">
       {literal}
/*        .content_text{font-size:1.2rem;}*/
        .user_name{float: right;width: 92%;text-align: left;}
        .user_img{float: left;width: 5%;text-align: right;}
        .content_user{ margin:0 auto;width: 100%}
        .content_user img {width :2rem;height: 2rem;}
        .main_content {overflow:auto;height:auto;background: white;padding:1rem;}
        .content_text{
          width: 92%;text-align: left;float: right;
          padding-top: 0.5rem;padding-bottom: 1rem; line-height:1rem;
          border-bottom: 0.1rem dotted #000;height: 2.7rem;overflow: hidden}
        .content_text a{color: #666;font-size: 0.9rem}
        .article_title{color: #2e3092;font-family: '宋体';font-weight: 700;}
        .article_name a{color: #2e3092;font-size: 0.8rem;font-weight: 300;}

        {/literal}
       </style>
{/block}

{block name=main_left}
      {foreach from=$data key=k item=foo}
        <div class="main_content">
          <div class="content_user">
            <div class="user_img">
              <a>
              <img  src="/res/img/example.jpg"> 
              </a>
            </div>
            <div class="user_name">
              <p class="article_name"><a href="">{$foo.user_name}</a></p>
              <a href="/index/index/articleshow/articleid/{$foo.id}" target="_blank"><p class="article_title">{$foo.article_title}</p> </a>
            </div>
          </div>
          <div class="content_text">     
            {$foo.article_content}
          </div>
        </div>
      {/foreach}
{/block}


  {block name=script}
  <script type="text/javascript">
  $().ready(function(){


  })
  </script>
  {/block}
