<p>输入内容sa</p><h2>Error after install - The use statement with non-compound name &#39;Config&#39; has no effect</h2><p><script type="text/javascript">alert(123)</script><span class="details">
 &nbsp; &nbsp; &nbsp; &nbsp;<span class="discussion-permalink"><a href="http://www.concrete5.org/marketplace/addons/store-ecommerce-from-vivid/support/error-after-install-the-use-statement-with-non-compound-name-con/">Permalink</a></span>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.concrete5.org/marketplace/addons/store-ecommerce-from-vivid/support/error-after-install-the-use-statement-with-non-compound-name-con/#browserinfo" class="fancybox">Browser Info</a>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.concrete5.org/marketplace/addons/store-ecommerce-from-vivid/support/error-after-install-the-use-statement-with-non-compound-name-con/#environmentinfo" class="fancybox">Environment</a>
 &nbsp; &nbsp; &nbsp; &nbsp;
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;September 11, 2015 at 7:56 PM</span>
 &nbsp; &nbsp;</p><p>I downloaded and installed the store to muck about with and 
can&#39;t access either the Products or Settings pages - I get the error 
&quot;The use statement with non-compound name &#39;Config&#39; has no effect&quot;.<br/><br/>Thoughts?</p><p><br/></p>